<h2>Lista korisnika</h2>
<table class="table" id = "table">
    <thead>
        <tr>
            <th>id</th>
            <th>username</th>
            <th>email</th>
            <th>is_student</th>
            <th>is_teacher</th>
            <th>token</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.is_student}}</td>
            <td>{{user.is_teacher}}</td>
            <td>{{user.token}}</td>
            
        </tr>
    </tbody>
</table>
<ngx-graph
  class="chart-container"
  *ngIf="ready"
  [view]="view"
  [nodes]="nodes"
  [links]="links"

>
</ngx-graph>


