<mat-card class="card" *ngIf="this.course">
    <mat-card-header>
        <mat-card-title>{{course.title | titlecase}}</mat-card-title>
        <mat-card-subtitle>{{course.domain.title | titlecase}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://res.cloudinary.com/djxkexzcr/image/upload/v1611057773/DSL/Domain_u8syz7.jpg" alt="{{course.title}}">
    <mat-card-content>
        <div class="row">
            <!-- <img src="{{event.imagePath}}" /> -->

            <img src="https://res.cloudinary.com/djxkexzcr/image/upload/v1611057773/DSL/Domain_u8syz7.jpg" />
            <div>
                <p>
                    <strong>Domain:</strong> {{course.domain.title | titlecase}}
                </p>
    
                <p>
                    <strong>Description:</strong> {{course.title | titlecase}}
                </p>
                <p>
                    <strong>Teachers:</strong>
                    <mat-list>
                        <mat-list-item *ngFor="let teacher of course.teachers">
                          <p matLine>
                            <span> {{teacher.first_name | titlecase}} {{teacher.last_name | titlecase}} </span>
                          </p>
                        </mat-list-item>
                      </mat-list>
                </p>
            </div>
        </div>
    </mat-card-content>
    <!-- Conditional Display of Angular Material Buttons for TEACHER -->
    <mat-card-actions class="card-actions">
        <button *ngIf="isTeacherLoggedIn()" mat-raised-button (click)="onClickGetAllTestsInCourseByCreator(course.id)" color="primary">
            <span>Tests</span>
            <mat-icon>rule</mat-icon>
        </button>
        <button *ngIf="isTeacherLoggedIn()" mat-raised-button (click)="onClickGetAllKnowledgeSpacesForCourse(course.id)" color="primary">
            <span>Knowledge Space Theory (KST)</span>
            <mat-icon>share</mat-icon>
        </button>
        <button *ngIf="isTeacherLoggedIn()" mat-raised-button (click)="onClickAddNewTest(course.id)" color="primary">
            <span>Add new test</span>
            <mat-icon>post_add</mat-icon>
        </button>
    </mat-card-actions>

    <!-- Conditional Display of Angular Material Buttons for STUDENT -->
    <mat-card-actions class="card-actions">
        <button *ngIf="isStudentLoggedIn()" mat-raised-button (click)="onClickGetAllUncompletedTestsInCourseByExecutor(course.id)" color="primary">
            <span>Uncompleted tests</span>
            <mat-icon>assignment</mat-icon>
        </button>
        <button *ngIf="isStudentLoggedIn()" mat-raised-button (click)="onClickGetAllCompletedTestsInCourseByExecutor(course.id)" color="primary">
            <span>Completed tests</span>
            <mat-icon>assignment_turned_in</mat-icon>
        </button>
    </mat-card-actions>
    <mat-card-footer>Informations about course details</mat-card-footer>
</mat-card>
