<mat-card class="card" *ngIf="this.course">
    <mat-card-header>
        <mat-card-title>Add new test for course{{course.title | titlecase}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>

    </mat-card-content>
</mat-card>
<div class = "container">
    <form [formGroup]="addNewTestForm" (submit)="onAddNewTestSubmit()">
        <div class="row">
            <div class="input-field">
                <mat-form-field appearance="outline">
                    <mat-icon matPrefix class="icon">spellcheck</mat-icon>
                    <input id="title-input" matInput type="text" placeholder="Test title" formControlName="title"/>
                </mat-form-field>

                <small id="title-error-msg-req" class="text-danger"
                *ngIf="addNewTestForm.controls.title.touched && addNewTestForm.controls.title.errors?.required">
                Test title is required
                </small>
            </div>
        </div>
        <!---Survey Section -->
	<div formArrayName="sections">
		<div class="section-container" *ngFor="let section of getSections(addNewTestForm); let i = index">
			<div class="ui raised segments" [formGroupName]="i">
				<h4 class="ui header">Section Details</h4>
				<input type="text" placeholder="Untitled form" formControlName="sectionTitle">
				<input type="text" placeholder="Form Description" formControlName="sectionDescription">
				<!-- Question segment -->
				<!---Survey Section -->
				<hr>
				<div class="question-container" formArrayName="questions">
					<div [formGroupName]="j" *ngFor="let question of getQuestions(section); let j = index">
						<input type="text" placeholder="Untitled Question" formControlName="questionTitle">
						<select formControlName="questionType">  
                        <option></option>
                          <option>Check Boxes</option>
                          <option>Free Text</option>
                          <option>Rating</option>
                          <option>Date</option>
                          <option>Time</option>
                      </select>

  <div *ngIf="addNewTestForm.errors" class="alert alert-danger">
          {{ addNewTestForm.errors }}
        </div>
						<hr>
						<a (click)="add(i,j)">Add Option</a>
						<a (click)="remove(i,j)">Remove whole options</a>
						<!-- Option Addation -->
						<div formArrayName="options">
							<div [formGroupName]="k" *ngFor="let option of getOptions(question); let k=index">
								<input type="radio" disabled="disabled">
								<input type="text" placeholder="Option 1" formControlName="optionTitle">

								<a (click)="remove(i,j)">R Option</a>
								<span *ngIf="getOptions(question).length > 1" (click)="removeOption(i,j,k)">Remove Option</span>
							</div>
							<!-- End Option Addition -->
							<!-- Option Addtion -->
							<!-- End Option Addition -->

						</div><br>
						<a (click)="addQuestion(i)">Add Question...</a>
						<span *ngIf="getQuestions(section).length > 1" (click)="removeQuestion(i)">Remove Question</span>
					</div><br>
				</div>
				<!-- End Question -->

			</div><br>
            <a (click)="addSection()">Add Section</a>
			<span *ngIf="getSections(addNewTestForm).length > 1" (click)="removeSection(i)">Remove Section</span>
		</div>
	</div>
	<!-- End Section -->







        <button class="submit-button" id="add-btn" type="submit" mat-raised-button color="primary" [disabled]="addNewTestForm.invalid">
            Add new test
        </button>
    </form>

</div>
