<mat-card class="card" *ngIf="this.course">
    <mat-card-header>
        <mat-card-title>Add new test for course{{course.title | titlecase}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
          <div class = "container">
            <form [formGroup]="showKnowledgeSpacesForm" (submit)="onShowKnowledgeSpaceSubmit()">
                <div class="row">   
                    <mat-form-field appearance="fill">
                        <mat-label>Choose a knowledge space</mat-label>
                        <mat-select formControlName="knowledge_space_id">
                            <mat-option *ngFor="let knowledgeSpace of knowledgeSpaces" [value]="knowledgeSpace.id">
                                {{knowledgeSpace.title}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <button class="submit-button" id="show-btn" type="submit" mat-raised-button color="primary" [disabled]="showKnowledgeSpacesForm.invalid">
                    Show knowledge space
                </button>
            </form>
        
        </div>

    </mat-card-content>
</mat-card>
<div class = "container">
    <form [formGroup]="addNewTestForm" (submit)="onAddNewTestSubmit()">
        <div class="row">
            <div class="input-field">
                <mat-form-field appearance="outline">
                    <mat-icon matPrefix class="icon">spellcheck</mat-icon>
                    <input id="title-input" matInput type="text" placeholder="Test title" formControlName="title"/>
                </mat-form-field>

                <small id="title-error-msg-req" class="text-danger"
                *ngIf="addNewTestForm.controls.title.touched && addNewTestForm.controls.title.errors?.required">
                Test title is required
                </small>
            </div>
        </div>
        <!---Survey Section -->
	<div formArrayName="sections">
		<div class="section-container" *ngFor="let section of getSections(addNewTestForm); let i = index">
			<div class="ui raised segments" [formGroupName]="i">
				<h4 class="ui header">Section Details</h4>
				<input type="text" placeholder="Section title" formControlName="sectionTitle">
				<input type="text" placeholder="Section description" formControlName="sectionDescription">
				<!-- Question segment -->
				<!---Survey Section -->
				<hr>
				<div class="question-container" formArrayName="questions">
					<div [formGroupName]="j" *ngFor="let question of getQuestions(section); let j = index">
						<input type="text" placeholder="Question text" formControlName="questionTitle">
						<select formControlName="questionType">  
                        <option></option>
                          <option>Check Boxes</option>
                          <option>Free Text</option>
                          <option>Rating</option>
                          <option>Date</option>
                          <option>Time</option>
                      </select>

  <div *ngIf="addNewTestForm.errors" class="alert alert-danger">
          {{ addNewTestForm.errors }}
        </div>
						<hr>
                        <input type="button" (click)="add(i,j)" value="Add Answer"/>
                        <input type="button" (click)="remove(i,j)" value="Remove all answers"/>
						<!-- Option Addation -->
						<div formArrayName="options">
							<div [formGroupName]="k" *ngFor="let option of getOptions(question); let k=index">
								<input type="radio" disabled="disabled">
								<input type="text" placeholder="Answer text" formControlName="optionTitle">
                                <input type="checkbox" formControlName="correct_answer"><label for="materialUnchecked">Correct</label>
                                <input *ngIf="getOptions(question).length < 2" type="button" (click)="remove(i,j)" value="Remove Answer"/>
                                <input *ngIf="getOptions(question).length > 1" type="button" (click)="removeOption(i,j,k)" value="Remove Answer"/>
							</div>
							<!-- End Option Addition -->
							<!-- Option Addtion -->
							<!-- End Option Addition -->

						</div><br>
                        <input type="button" (click)="addQuestion(i)" value="Add Question"/>
                        <input *ngIf="getQuestions(section).length > 1"  type="button" (click)="removeQuestion(i)" value="Remove Question"/>
					</div><br>
				</div>
				<!-- End Question -->

			</div><br>
            <input type="button" (click)="addSection()" value="Add Section"/>
			<span *ngIf="getSections(addNewTestForm).length > 1" (click)="removeSection(i)">Remove Section</span>
		</div>
	</div>
	<!-- End Section -->







        <button class="submit-button" id="add-btn" type="submit" mat-raised-button color="primary" [disabled]="addNewTestForm.invalid">
            Add new test
        </button>
    </form>

</div>
