<h2 mat-dialog-title>Graph Edit Distance (GED) metric for graph comparison</h2>
<mat-dialog-content>The graph edit distance is the number of edge/node changes needed to make two graphs isomorphic. For this knowledge space graph edit distance is <b>{{data.ged}}</b>. Minimum number of edits needed to transform one graph into the other, with the allowable edit operations being insertion, deletion, or substitution of a single node/link.</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button mat-dialog-close color="primary">Close</button>
</mat-dialog-actions>
