<h2 mat-dialog-title>Test Completion</h2>
<mat-dialog-content>Congratulations you completed the test to see your results please press the test score button. 
  The <span style="color: red">wrong</span> answer is indicated in <span style="color: red">red</span>, while the <span style="color: green">correct</span> answer appears in <span style="color: green">green</span>.</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button mat-dialog-close color="primary">Close</button>
</mat-dialog-actions>
