<mat-toolbar color="primary">
    <mat-toolbar-row>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">school</mat-icon>
      <span>SOTS</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
      <button id="myProfileNav" mat-button  [routerLink]="['/profile']">
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">supervised_user_circle</mat-icon>
        <span>Profile PERSONAL</span>
      </button>
      <button id="myProfileNav" mat-button  [routerLink]="['/profile']">
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">sports</mat-icon>
        <span>Profile</span>
      </button>
      <button id="myProfileNav" mat-button  [routerLink]="['/profile']">
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">star</mat-icon>
        <span>Profile</span>
      </button>
      <button id="myProfileNav" mat-button  [routerLink]="['/profile']">
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">supervised_user_circle</mat-icon>
        <span>Profile</span>
      </button>
  
  
      <button id="myProfileNav" mat-button  [routerLink]="['/profile']">
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">supervised_user_circle</mat-icon>
        <span>Profile</span>
      </button>
  
  
      <button mat-button (click)="onClickLogout()" id="logout-btn">
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">highlight_off</mat-icon>
        <span>Logout</span>
    </button>
    </mat-toolbar-row>
  </mat-toolbar>
  