<mat-card class="card" *ngIf="this.testTeacher">
    <mat-card-header>
        <mat-card-title>{{testTeacher.title | titlecase}}</mat-card-title>
        <mat-card-subtitle>{{testTeacher.course.title | titlecase}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://res.cloudinary.com/djxkexzcr/image/upload/v1611055729/DSL/Web_Scraping_Frameworks_fm0ksp.png" alt="{{testTeacher.title}}">
    <mat-card-content>
        <div class="row">
            <!-- <img src="{{event.imagePath}}" /> -->

            <img src="https://res.cloudinary.com/djxkexzcr/image/upload/v1611055729/DSL/Web_Scraping_Frameworks_fm0ksp.png" />
            <div>
                <p>
                    <strong>Domain:</strong> {{testTeacher.course.title | titlecase}}
                </p>
    
                <p>
                    <strong>Description:</strong> {{testTeacher.course.title | titlecase}}
                </p>
                <p>
                    <strong>{{questionNumber+1}}. </strong>{{testTeacher.questions[questionNumber].question_text | titlecase}}
                </p>
                <section class="example-section">
                    <span class="example-list-section">
                      <ul>
                        <li *ngFor="let answer of testTeacher.questions[questionNumber].answers">
                            <p [ngClass]="(answer.correct_answer==true)?'correct-answer-style':'incorrect-answer-style'">
                                <mat-checkbox 
                                class="example-margin"
                                [disabled]="false"
                                >
                                {{answer.answer_text | titlecase}}
                                </mat-checkbox>
                            </p>

                        </li>
                      </ul>
                    </span>
                  </section>

            </div>
        </div>
    </mat-card-content>
    <!-- Navigation buttons -->
    <mat-card-actions class="card-actions">
        <!-- Previous navigation button -->
        <button *ngIf="questionNumber !== 0" mat-raised-button (click)="onClickPrevious()" color="primary" id = "previousBtn">
            <mat-icon>navigate_before</mat-icon>
            <span>Previous</span>
        </button>
        <!-- Next navigation button -->
        <button *ngIf="questionNumber !== testTeacher.questions.length-1"  mat-raised-button (click)="onClickNext()" color="primary" id = "nextBtn">
            <span>Next</span>
            <mat-icon>navigate_next</mat-icon>
        </button>
    </mat-card-actions>
    <!-- Conditional Display of Angular Material Buttons for TEACHER -->
    <mat-card-actions class="card-actions">
        <button *ngIf="isTeacherLoggedIn()" mat-raised-button (click)="myTests(course.id)" color="primary">
            <span>Tests</span>
            <mat-icon>rule</mat-icon>
        </button>
    </mat-card-actions>
    <mat-card-actions class="card-actions">
        <button *ngIf="isTeacherLoggedIn()" mat-raised-button (click)="onClickSeeMore(course.id)" color="primary">
            <span>Knowledge Space Theory (KST)</span>
            <mat-icon>share</mat-icon>
        </button>
    </mat-card-actions>
    <!-- Conditional Display of Angular Material Buttons for STUDENT -->
    <mat-card-actions class="card-actions">
        <button *ngIf="isStudentLoggedIn()" mat-raised-button (click)="onClickSeeMore(course.id)" color="primary">
            <span>See more STudent</span>
            <mat-icon>more_horiz</mat-icon>
        </button>
    </mat-card-actions>
    <mat-card-footer>Informations about teacher's test details.</mat-card-footer>
</mat-card>
